<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="zip" class="nav-link" routerLinkActive="active">ZIP EXAMPLE</a>
    </li>
    <li class="nav-item">
      <a routerLink="combine" class="nav-link" routerLinkActive="active">CombineLatest and WithLatestFrom</a>
    </li>
    <li class="nav-item">
      <a routerLink="search" class="nav-link" routerLinkActive="active">SEARCH + DEBOUNCE TIME</a>
    </li>
     <li class="nav-item">
      <a routerLink="frevent" class="nav-link" routerLinkActive="active">"FORM EVENT"</a>
    </li>
    <li class="nav-item">
      <a routerLink=" " class="nav-link" routerLinkActive="active">"    "</a>
    </li> 
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>This is the Footer Part @BimanSupakar</span>
  </div>
</footer>